.header-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 auto 0;

  img {
    height: 30px;
    width: 30px;
    margin-right: 12px;
  }

  a {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-decoration: none;
    color: #000000;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  .nav-item {
    display: flex;
    border: 1px solid black;
    // background-color: rgb(163, 158, 158);
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 24px;
    }

    &:hover {
      box-shadow: 1px 1px 4px 1px #ccc;
      // filter: brightness(110%);
    }

    // & .active {
    // text-decoration: underline;
    // }
  }

  a {
    text-decoration: none;
    color: black;
  }
}
